:root {
	/* Pure colours (https://catppuccin.com/palette/) */
	/* --rosewater: #f5e0dc;
	--flamingo: #f2cdcd;
	--pink: #f5c2e7;
	--mauve: #cba6f7;
	--red: #f38ba8;
	--maroon: #eba0ac;
	--peach: #fab387;
	--yellow: #f9e2af;
	--green: #a6e3a1;
	--teal: #94e2d5;
	--sky: #89dceb;
	--sapphire: #74c7ec;
	--blue: #89b4fa;
	--lavender: #b4befe;

	--text: #cdd6f4;
	--subtext-1: #bac2de;
	--subtext-0: #a6adc8;

	--overlay-2: #9399b2;
	--overlay-1: #7f849c;
	--overlay-0: #6c7086;

	--surface-2: #585b70;
	--surface-1: #45475a;
	--surface-0: #313244;

	--base: #1e1e2e;
	--mantle: #181825;
	--crust: #11111b;

	--contrast: #0070ff; */

	/* New colour scheme */

	--alert-1: rgb(178, 38, 38);
	--alert-0: rgb(214, 145, 34);

	--contrast: #1a5fb4;

	--text: #000000;
	--subtext-1: #c0bfbc;
	--subtext-0: #deddda;

	--overlay-0: #ffffff;

	--surface-0: #deddda;

	--background-1: #ededed;
	--background-0: #f6f5f4;

	/* Definitions */
	color: var(--text);
	background-color: var(--background-0);

	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
}

a {
	color: var(--blue);
}

h1,
.h1 {
	font-size: 1.5rem !important;
	margin: 0;
	font-weight: bolder;
}

legend {
	font-weight: 500;
}

fieldset {
	border: none;
}

input {
	font-family: inherit;
}

input[type='radio'] {
	appearance: none;

	border-radius: 50%;
	width: 16px;
	height: 16px;

	background-color: var(--surface-0);

	margin-right: 4px;

	position: relative;
	top: 4px;
}

input[type='radio']:checked {
	border: 3px solid var(--surface-0);
	background-color: var(--blue);
}

input[type='text'].disguised-input {
	width: 0;
	flex: 1;

	background-color: inherit;
	color: inherit;
	border: none;
	font-size: 1rem;
}

input[type='text'].disguised-input:focus {
	outline: 2px solid var(--contrast);
}

button.icon {
	background-color: transparent;
	border: none;
	color: inherit;

	cursor: pointer;

	/* display: flex;
	justify-content: center;
	align-items: center; */
}

button.icon:hover {
	background-color: var(--subtext-0);
}

div.overlay {
	background-color: var(--overlay-0);
	border: 1px solid var(--subtext-1);
}