:root {
	/* New colour scheme */

	--alert-1: rgb(178, 38, 38);
	--alert-0: rgb(214, 145, 34);

	--contrast: #1a5fb4;

	--text: #000000;
	--subtext-1: #c0bfbc;
	--subtext-0: #deddda;

	--overlay-0: #ffffff;

	--surface-0: #deddda;

	--background-1: #ededed;
	--background-0: #f6f5f4;

	/* Definitions */
	color: var(--text);
	background-color: var(--background-0);

	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
}

a {
	color: var(--blue);
}

h1,
.h1 {
	font-size: 1.5rem !important;
	margin: 0;
	font-weight: bolder;
}

fieldset {
	border: none;
	margin: 1rem 0.5rem;
}

fieldset>legend {
	font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

fieldset>ol,
fieldset>ul {
	list-style: none;
	padding: 0;

	margin: 0;
}

fieldset:not(:hover) ol>li:nth-child(even),
fieldset:not(:hover) ul>li:nth-child(even) {
	background-color: var(--background-0);
}

fieldset li:hover {
	background-color: var(--background-0);
}

input {
	font-family: inherit;
}

input[type='radio'] {
	appearance: none;

	border-radius: 50%;
	width: 16px;
	height: 16px;

	background-color: var(--surface-0);

	margin-right: 4px;

	position: relative;
}

input[type='radio']:checked {
	border: 3px solid var(--surface-0);
	background-color: var(--blue);
}

/* input[type='text'].disguised-input {
	width: 0;
	flex: 1;

	background-color: inherit;
	color: inherit;
	border: none;
	font-size: 1rem;
}

input[type='text'].disguised-input:focus {
	outline: 2px solid var(--contrast);
} */

button.icon {
	background-color: transparent;
	border: none;
	color: inherit;

	cursor: pointer;

	display: inline-block;
}

button.icon:hover {
	background-color: var(--subtext-0);
}

div.overlay {
	background-color: var(--overlay-0);
	border: 1px solid var(--subtext-1);
}